{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <title>ToDo</title>
</head>
<body>
    
    <nav>
        <div class="container nav-wrapper">
          <a href="#" class="brand-logo">ToDo</a>
        </div>
    </nav>
    
    <nav class="container" id="search_bar">
        <div class="nav-wrapper">
          <form action="{% url 'add_todo'%}" method="POST">
            {% csrf_token %}
            <div class="input-field">
              <input id="todo" type="search" name="content" required placeholder="Add ToDo">
              <label class="label-icon" for="search"><i class="material-icons">add</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>
    
    <ul class="container collection with-header" style="margin-top: 30px;">
      <li class="collection-header"><h5>Todo List</h5></li>
      {% for items in todo_list %}
      <li class="collection-item">
          <div style="padding-bottom: 15px;">
              {{ items.text }}
              <form action="del_todo/{{ items.id }}" action="POST" class="right">
                {% csrf_token %} 
                <button class="btn waves-effect wave-light material-icons" type="submit" name="action">delete</button>
              </form>
          </div>
      </li>
      {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>